.page{
  background: #0F2B41;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;

}

.login-container {
  width: 100%;
  justify-content: center;
  display: flex;
}

#login-button a{
  display: block;
  color: #75FBB6;
  text-decoration: none;
  padding: 5px;
  
}

#login-button {
  border: 1px solid #75FBB6;
  width: fit-content;
  font-size: 15px;
  width: 200px;
  color: #75FBB6;
  white-space: nowrap;
  letter-spacing: 4px;
  font-weight: 400;
  background-color: #0F2B41;
  height: 30px;
  text-align: center;
  font-family: 'Helvetica Neue';
}

#login-button a:hover{
  display: block;
  color: #0F2B41;
  text-decoration: none;
  padding: 5px;
  background-color: #75FBB6;
}

.top-bar{
  color: black;
  font-size: 20px;
  padding-top: 20px;
  font-family: 'Helvetica Neue';
  text-align: center;
  color: #75FBB6;
}

.filters-container {
  justify-content: center;
  display: block;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  text-align: center;
  color: #75FBB6;
}

#res-input {
  width: 50%;
  margin: auto;
  color: #75FBB6;
  font-family: 'Helvetica Neue';
  font-size: 20px;
}

#range-select {
  color: #75FBB6;
  width: 50%;
  margin: auto;
  font-family: 'Helvetica Neue';
  font-size: 20px;
}


#n-results-input{
  color: #75FBB6;
  height: 20px;
}

.search-options-container{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-options-container button{
  font-size: 20px;
  width: 200px;
  margin: 20px;
  color: #75FBB6;
  white-space: nowrap;
  border: 1px solid #75FBB6;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: 400;
  background-color: #0F2B41;
  height: 40px;
}

.search-options-container button:hover{
    background: #75FBB6;
    color: #333;
    text-decoration: none;
}

table{
  text-align: center;
  color: #75FBB6;
  padding-bottom: 45px;
}

th{
  font-size: 25px;
  margin: 10px;
}

.top-artists td {
  width: 33%;
  padding: 5px;
}

.top-tracks td {
  width: 25%;
  padding: 5px;
}

.top-artists{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #75FBB6;
}

.top-artists table{
  margin: auto;
  width: 85%;
  color: #75FBB6;
}

.top-tracks{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #75FBB6;

}

.top-tracks table {
  margin: auto;
  width: 85%;
}

.logout-container{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logout-container button{
  font-size: 15px;
  width: 200px;
  margin: 20px;
  color: #75FBB6;
  white-space: nowrap;
  border: 1px solid #75FBB6;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: 400;
  background-color: #0F2B41;
  height: 30px;

}

.logout-container button:hover {
  background-color: #75FBB6;
  color: #0F2B41;
}

#n-results-input {
  background-color: #0F2B41;
  border: 1.5px solid #75FBB6;
  text-align: center;
  width: 193px;
  height: 35px;
  font-size: 20px;
}

#time-range-select {
  background-color: #0F2B41;
  border: 1.5px solid #75FBB6;
  text-align: center;
  color: #75FBB6;
  width: 200px;
  height: 40px;
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
  position: relative;
}

#tagline {
  color: #75FBB6;
  font-family: 'Helvetica Neue';
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.summary-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #75FBB6;

}